<div>
  <div class="span-14">
    <% form_for("user", :url => user_session_path) do |f| %>
      <fieldset> 
        <legend>Sign in</legend>
        <%= f.label :email %> <br />
        <%= f.text_field :email %> <br />
        <%= f.label :password %> <br />
        <%= f.password_field :password %> <br />
        <%= f.submit 'Sign in' %> 
      </fieldset>
    <% end %>
  </div>
</div>
