<div class="column span-7 attendance-comment">
  <% form_tag(save_comment_path, :remote => true, :name => "comment #{attendance.id}") do %>
    <% if attendance.comment_list.blank? %>
      <%= text_area_tag "comment", "", :placeholder => "Write comments or questions here"  %>
    <% else %>
      <%= text_area_tag "comment", attendance.comment_list.first %>
    <% end %>
    <%= hidden_field_tag "model", "attendance" %>
    <%= hidden_field_tag "object_id", attendance.id %>
    <div class="submit-button">
      <%= submit_tag "Save Comment" %>
    </div>
  <% end %>
</div>
