<% pages = ["general", "attendance", "grades", "tests", "comments"] %>
<div id="footer-container">
  <div id="footer">
    <div>
      <div class="prev span-2 prepend-1 prev-next">
        <% if params[:action]=="general" %>
          <%= image_tag "left_inactive.png" %>
        <% else %>
          <%= link_to (image_tag "left.png"), pages[pages.index(params[:action]) - 1] %>
        <% end %>
      </div>
      <div>
        <ul id="bottom-navigation" class="prepend-1 span-17">
          <% pages.each do |page| %>
            <% if page == params[:action] %>
              <li class="span-3 clickable active" id="<%="#{page}"%>-link">
              <% else %>
                <li class="span-3 clickable" id="<%="#{page}"%>-link">
                <% end %>
                <%= link_to page.capitalize, "#{page}" %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="span-1 prev-next next">
          <% if params[:action]=="comments" %>
            <%= image_tag "right_inactive.png" %>
          <% else %>
            <%= link_to (image_tag "right.png"), pages[pages.index(params[:action]) + 1] %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
