<br />
<h2> Your Comments </h2>

    <div class="span-6">
      <h3>
        <%= link_to "General", "general", :class => "link" %>
      </h3>
      <ul class="comment-summary">
          <% if current_user.student.comment_list.first.present? %>
            <li> 
              <%= current_user.student.comment_list.first %>
            </li>
          <% end %>
      </ul>
    </div>
    <div class="span-6">
      <h3>
        <%= link_to "Attendance", "attendance", :class => "link" %>
      </h3>
      <ul class="comment-summary">
        <% Attendance.all.each do |a| %>
            <% if a.comment_list.first.present? %>
              <li> 
                Month <%= a.month %>:
              </li>
            <%= a.comment_list.first %>
            <% end %>
        <% end %>
      </ul>
    </div>
    <div class="span-6">
      <h3>
        <%= link_to "Grades", "grades", :class => "link" %>
      </h3>
      <ul class="comment-summary">
        <% Subject.all.each do |s| %>
            <% if s.comment_list.first.present? %>
              <li>
                <%= s.description %>:<br />
                <%= s.comment_list.first %>
              </li>
            <% end %>
        <% end %>
      </ul>
    </div>
    <div class="span-5">
      <h3>
        <%= link_to "Tests", "tests", :class => "link" %>
      </h3>
      <ul class="comment-summary">
      <% Exam.all.each do |e| %>
          <% if e.comment_list.first.present?  %>
            <li>
              <%= e.kind %>:<br />
            </li>
              <%= e.comment_list.first %>
          <% end %>
      <% end %>
      </ul>
    </div>

</div>

<div class="clear">
  
</div>

<% form_tag(send_comments_path, :remote => true, :name => "comment #{current_user.student.id}") do %>
  <%= text_area_tag "comment", "", :placeholder => "Final questions or feedback from Mr. Wairi?", :class => "span-3", :id => "final-comment" %>
  Your contact info: <br />
  <%= text_field_tag "phone", "", :placeholder => "phone #" %> <br />
  <%= text_field_tag "email", "", :placeholder => "email" %> <br />
  <%= hidden_field_tag "model", "student" %>
  <%= hidden_field_tag "object_id", current_user.student.id %><br />
  <%= submit_tag "Email Mr. Wairi These Comments" %>
<% end %>

