<h2 class="shallow-bottom heading"> Your Comments </h2>
<hr />
<div class="comment-summary">
    <div class="span-7 text-box">
        <% if current_user.student.comment_list.first.present? %>
          <b>General:</b>
          <span class="comment-category">General</span>
          <hr class="shallow-bottom" />

          <div> "<%= current_user.student.comment_list.first %>" </div>
        <% end %>
    </div>
        <% Attendance.all.each do |a| %>
            <% if a.comment_list.first.present? %>
              <div class="span-7 text-box">
                <b> Month <%= a.month %>: </b>
                <span class="comment-category">Attendance</span>
                <hr class="shallow-bottom" />

                <div>"<%= a.comment_list.first %>"</div>
              </div>
            <% end %>
        <% end %>
        <% Subject.all.each do |s| %>
            <% if s.comment_list.first.present? %>
              <div class="span-7 text-box">
                <b><%= s.description %>:</b>
                <span class="comment-category">Grades</span>
                  <hr class="shallow-bottom" />

                <div>"<%= s.comment_list.first %>"</div>
              </div>
            <% end %>
        <% end %>
      <% Exam.all.each do |e| %>
          <% if e.comment_list.first.present?  %>
            <div class="span-7 text-box">
              <b><%= e.kind %>:</b>
              <span class="comment-category">Tests</span>
                <hr class="shallow-bottom" />

              <div>"<%= e.comment_list.first %>"</div>
            </div>
          <% end %>
      <% end %>

</div>
<br / class="clear">


<div class="clear sent-comments <%=current_user.comments_sent?%>">
    <a href="#">
      <h2 id="add-more-comments">Your comments have been sent! <br /><span class="small-text">(If you forgot something, click here to send additional comments)</span> </h2>
    </a>
  </div>

<br />
<div id="send-comments" class="clear <%= !current_user.comments_sent?%>">
  <% form_tag(send_comments_path, :remote => true, :name => "comment #{current_user.student.id}") do %>
    <fieldset>
      <legend> Email Your Comments to Mr. Wairi</legend>
      <%= text_area_tag "comment", "", :placeholder => "Final questions or feedback for Mr. Wairi?", :class => "span-3", :id => "final-comment" %>
      <div id="contact-info" class="span-15">
        How would you like Mr. Wairi to get back to you?<br />
        <%= text_field_tag "phone", "", :placeholder => "enter your phone #" %> 
        <%= text_field_tag "email", "", :placeholder => "enter your email address" %> <br />
      </div>
      <%= hidden_field_tag "student", current_user.student.name %>
      <div id="submit-comments-button" class="submit-comments">
        <%= submit_tag "Email Mr. Wairi These Comments" %>
      </div>
    </fieldset>
  <% end %>
</div>

