<div>
  <div id="intro-text" class="span-15">
    <b>Welcome to <%= @student.first_name %>'s report card! </b>
      <hr / class="shallow-bottom">
   Here, you can look at <%= @student.first_name %>'s basic academic performance and attendance record.  Want to leave comments for Mr. Wairi? Click "send" on the last page.  (All the comments that you have written will be emailed to Mr. Wairi.) Use the tabs at the top of the screen to view other pages! 

  </div>
  <div class="span-15" id="notes-from-teacher">
    <span class="teacher-image">
      <%= image_tag "josh.png", :class => "span-4" %>
    </span>

    <div class="text-box">
      <h4 class="span-10">
        <b> Here's what Mr. Wairi has to say about <%= @student.first_name %>'s performance this term: </b>
      </h4>
       <ul>
         "<%= @student.performance_summary %>"
       </ul>
    </div>
  </div>
  <div class="prepend-1 span-7">
    <%= form_tag(save_comment_path, :remote => true) %>
    <% if @student.comment_list.blank? %>
      <%= text_area_tag "comment", "", :placeholder => "Write comments or questions here" %>
    <% else %>
      <%= text_area_tag "comment", @student.comment_list.first %>
    <% end %>
    <%= hidden_field_tag "model", "student" %>
    <div class="submit-button">
      <% unless @admin %>
        <%= submit_tag "Save Comment" %>
      <% end %>
    </div>
  </div>
</div>
