<h2 class="span-16 heading"> Academic Performance </h2>
<% possible_scores = {'m' => "Meets the standard consistently", 's' => "Sometimes meets the standard", 'n' => "Not meeting the standard", 'na' => "Standard not assessed this term"} %>
<% abbreviations = ['m', 's', 'n', 'na'] %>

<div id="standards-explanation" class="span-6">
  <% abbreviations.each do |a| %>
    <div class="<%="grade-#{a}"%>"> <span class="metric"><%= a %> </span> - <%= possible_scores[a] %> </div>
  <% end %>
  
</div>
<hr />

  <% @subjects.each do |subject| %>
  <div class="span-24 subject">
      <div class="subject-title">
        <%= subject.description %>
      </div>
    <table class= "subject-details span-15 scores">
        <tr>
          <th>Grading Period </th>
          <th>1 </th>
          <th>2 </th>
          <th>3 </th>
          <th>4 </th>
        </tr>
        <% subject.standards.each do |standard| %>
          <tr class="metrics-and-scores border">
              <td>
                 <%= standard.description.html_safe %>
               </td>
               <% standard.assessments.where(:student_id => @student.id).each do |a| %>
                 <td class="grade-<%= a.score %>">
                   <%= a.score %>
                 </td>
               <% end %>
          </tr>
        <% end %>
    </table>
    <div class="prepend-1 span-7">
      <% form_tag(save_comment_path, :remote => true, :name => "comment #{subject.id}") do %>
        <% if subject.comment_list.blank? %>
          <%= text_area_tag "comment", "", :placeholder => "Write comments or questions here" %>
        <% else %>
          <%= text_area_tag "comment", subject.comment_list.first %>
        <% end %>
        <%= hidden_field_tag "model", "subject" %>
        <%= hidden_field_tag "object_id", subject.id %>
        <div class="submit-button">
          <%= submit_tag "Save Comment" %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
