<br />
<h2 class="span-16"> Tests </h2>
<% possible_scores = {'m' => "High Scoring", 's' => "Medium Scoring", 'n' => "Low scoring", 'na' => "Test not taken"} %>

<div id="standards-explanation" class="span-6">
  <% possible_scores.each_pair do |abbreviation, description| %>
    <div class="<%="grade-#{abbreviation}"%>"> <%= description %> </div>
  <% end %>
  
</div>

  <% tests = [1, 2, 3] %>

  <%
  tests_hash = { "MCAS" =>
    [{"Test" => 1}, {"Scores" => 220}, {"Percentile" => 80}],

"MAP" =>
    [{"Test" => 1}, {"Reading" => 210}, {"Language Arts" => 210}, {"Math" => 210}]}

%>

  <% tests_hash.each do |subject, metrics| %>
  <div class="span-24 subject">
      <div class="subject-title">
        <%= subject %>
      </div>
    <table class= "subject-details span-15 scores">
        <% metrics.each_with_index do |metric, i| %>
          <tr class="metrics-and-scores">
            <% metric.each_pair do |m, score| %>
              <td>
                 <%= m %>
               </td>
               <td class="grade-<%= score %>">
                  <%= score %>
                </td>
               <td class="grade-<%= score %>">
                  <%= score + 1 %>
                </td>
               <td class="grade-<%= score %>">
                  <%= score + 2%>
                </td>
            <% end %>
          </tr>
        <% end %>
    </table>
    <div class="span-3 prepend-1">
      <%= text_area_tag "comment", "Write comments here" %>
    </div>
  </div>
  <% end %>
