<br />
<h2 class="span-16"> Tests </h2>
<% possible_scores = {'m' => "High Scoring", 's' => "Medium Scoring", 'n' => "Low scoring", 'na' => "Test not taken"} %>

<div id="standards-explanation" class="span-6">
  <% possible_scores.each_pair do |abbreviation, description| %>
    <div class="<%="grade-#{abbreviation}"%>"> <%= description %> </div>
  <% end %>
</div>

  <% @exams.each do |exam| %>
    <% @exam = exam %>
  <div class="span-24 subject">
      <div class="subject-title">
        <%= @exam.kind %>
      </div>
      <table class= "subject-details span-15 scores">
        <th class="metrics-and-scores">
          Period
        </th>
        <% @exam.exam_assessments.map { |ea| ea.sections}.flatten.map {|s| s.name }.uniq.each do |section| %>
        <th class="metrics-and-scores">
          <%= section %>
        </th>
        <% end %>
        <% @exam.exam_assessments.each do |ea|  %>
          <tr>
            <td>
              <%= Time.local(ea.period.year, ea.period.month).strftime('%b  %Y') %>
            </td>
          <% ea.sections.each do |s| %>
            <td>
              <%= s.score %>
            </td>
          <% end %>
          </tr>
        <% end %>
      </table>
    <div class="prepend-1 span-3">
      <% form_tag(save_comment_path, :remote => true) do %>
        <% if exam.comment_list.blank? %>
          <%= text_area_tag "comment", "Write comments here" %>
        <% else %>
          <%= text_area_tag "comment", exam.comment_list.first %>
        <% end %>
        <%= hidden_field_tag "model", "exam" %>
        <%= hidden_field_tag "object_id", exam.id %>
        <%= submit_tag "Save changes" %>
      <% end %>
    </div>

  </div>
  <% end %>

