<h2 class="span-16 heading shallow-bottom"> Tests </h2>
<% possible_scores = {'m' => "High Scoring", 's' => "Medium Scoring", 'n' => "Low scoring", 'na' => "Test not taken"} %>


<hr />
  <% @exams.each do |exam| %>
    <% @exam = exam %>
  <div class="span-24 subject">
      <div class="subject-title">
        <%= @exam.kind %>
      </div>
      <table class= "exam-details span-15 scores">
        <th>
          Period
        </th>
        <% @exam.exam_assessments.where(:student_id => @student.id).map { |ea| ea.sections}.flatten.map {|s| s.name }.uniq.each do |section| %>
        <th>
          <%= section %>
        </th>
        <% end %>
        <% @exam.exam_assessments.where(:student_id => @student.id).each do |ea|  %>
          <tr>
            <td>
              <%= Time.local(ea.period.year, ea.period.month).strftime('%b  %Y') %>
            </td>
          <% ea.sections.each do |s| %>
            <td>
              <%= s.score %>
            </td>
          <% end %>
          </tr>
        <% end %>
      </table>
    <div class="prepend-1 span-7">
      <% form_tag(save_comment_path, :remote => true) do %>
        <% if exam.comment_list.blank? %>
          <%= text_area_tag "comment", "", :placeholder => "Write comments or questions here" %>
        <% else %>
          <%= text_area_tag "comment", exam.comment_list.first %>
        <% end %>
        <%= hidden_field_tag "model", "exam" %>
        <%= hidden_field_tag "object_id", exam.id %>
        <div class="submit-button">
          <%= submit_tag "Save Comment" %>
        </div>
      <% end %>
    </div>

  </div>
  <% end %>

