<div class="span-24">
  <div class="prev span-2 prepend-5 prev-next">
    <%= image_tag "left.png" %>
  </div>
  <div class="">
    <ul id="bottom-navigation" class="prepend-1 span-7">
      <li class="span-1 active">
        <%= link_to "()", intro_path %>
      </li>
      <li class="span-1">
        <%= link_to "()", attendance_path %>
      </li>
      <li class="span-1">
        <%= link_to "()", grades_path %>
      </li>
      <li class="span-1">
        <%= link_to "()", tests_path %>
      </li>
      <li class="span-1">
        <%= link_to "()", comments_path %>
      </li>
    </ul>
  </div>
  <div class="span-1 prev-next next">
    <%= image_tag "right.png" %>
  </div>
</div>
