  <h2>Attendance:</h2>

  <% months = ["may", "april", "march"] %>

  <% months.each do |month| %>
  <div class="span-8 month">
    <div class="column span-3">
      <%= image_tag "#{month}.png" %>
    </div>
    <div class="column span-4 attendence-description">
      <%= "#{month} 9: Arrived- 12:32" %>
    </div>
    <div class="column span-4 attendence-description">
      <%= "#{month} 22: Absent" %>
    </div>
    <div class="column span-4 attendence-description">
      <%= "#{month} 25: arrived- 9:23" %>
    </div>
    <div class="column span-3 clear">
      <div>
        Days absent: 1
      </div>
      <div>
        Days late: 2
      </div>
    </div>
    <div class="column span-3 clear">
      <%= text_area_tag "comment", "Write comments here" %>
    </div>
  </div>
  <% end %>
