<!DOCTYPE html>
<html>
  <head>
    <title>ReportCard</title>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "screen", :media => "screen, projection" %>
    <%= stylesheet_link_tag "fullcalendar", :media => "screen, projection" %>
    <%= stylesheet_link_tag "print", :media => "print" %>
    <%= stylesheet_link_tag "fullcalendar.print", :media => "print" %>
    <!--[if IE]>
    <%= stylesheet_link_tag "ie", :media=>"screen, projection" %>
    <![endif]-->

    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
    <%= javascript_include_tag 'rails' %>
    <%= javascript_include_tag "fitted" %>
    <%= javascript_include_tag "application" %>

    <%= javascript_include_tag "jquery-ui-1.8.11.custom.min" %>
    <%= javascript_include_tag "fullcalendar.min" %>
    <%= javascript_include_tag "calendar" %>
    <%= csrf_meta_tag %>

  </head>
  <body>
    <div id="container">
      <div id="header" class="span-24">
        <div id="student-image" class="span-3">
          <%= image_tag "student_picture.jpg" %>
        </div>
        <h1 id="title" class="prepend-3 span-11"><%= current_user.name %>'s Report Card</h1>
        <div id="sign-in" class="span-1">
          <% if user_signed_in? %>
            <%= link_to "logout", destroy_user_session_path %>
          <% else %>
            <%= link_to "login", new_user_session_path %>
          <% end %>
        </div>
      </div>

      <div class="span-24" id="content-wrapper">

        <div id="content">
          <%= yield %>
        </div>

      </div>
    </div>
    <%= render :partial => "nav" %>
  </body>
</html>
