<!DOCTYPE html>
<html>
  <head>
    <title>ReportCard</title>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "screen", :media => "screen, projection" %>
    <%= stylesheet_link_tag "fullcalendar", :media => "screen, projection" %>
    <%= stylesheet_link_tag "print", :media => "print" %>
    <%= stylesheet_link_tag "fullcalendar.print", :media => "print" %>
    <!--[if IE]>
    <%= stylesheet_link_tag "ie", :media=>"screen, projection" %>
    <![endif]-->

    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
    <%= javascript_include_tag 'rails' %>
    <%= javascript_include_tag "fitted" %>
    <%= javascript_include_tag "application" %>

    <%= javascript_include_tag "jquery-ui-1.8.11.custom.min" %>
    <%= javascript_include_tag "fullcalendar.min" %>
    <%= javascript_include_tag "main" %>
    <%= javascript_include_tag "placeholder" %>
    <%= csrf_meta_tag %>

  </head>
  <body>
    <div id="header-background">
      <div id="header-background-child">
      </div> 
    </div>
    <div id="container">
      <div id="header" class="span-24 last">
        <h2 id="title" class="span-12">Report Card</h2>
        <div id="sign-in" class="span-12 last">
          <% if user_signed_in? %>
            <span class="user-name">
              <%= current_user.name %>
            </span>
            <%= link_to "logout", destroy_user_session_path, :class => "link" %>
          <% else %>
            <%= link_to "login", new_user_session_path, :class => "link" %>
          <% end %>
        </div>
      </div>

      <div class="span-24" id="content-wrapper">

        <div id="content">
          <%= render :partial => "notice_div.html.erb" %>
          <%= yield %>
        </div>

        <%= render :partial => "nav" %>
      </div>
    </div>

    <div id="footer-background">
    </div>
  </body>
</html>
